@use '../../styles/variables' as variables;

.sign-in-form {
    background: variables.$gradient;

    &__title {
        font-size: 20px;
    }

    &__container {
        width: 60%;
        background: white;
        padding: variables.$padding-3xl;
        border-radius: 8px;
    }

    &__actions {
        margin-top: variables.$margin-xl;
    }

}