@use './variables' as variables;

.info-message {
    line-height: 1;
    color: variables.$gray;
}

.primary-message {
    line-height: 1;
    color: variables.$primary;
}

.error-message {
    line-height: 1;
    font-size: 12px;
    color: variables.$danger;
}