$gray: #7d828c;
$font-color: #2A2D33;
$danger: #fd0d39ff;
$warning: #FFFF00;
$primary: #3021E5;
$span-size: calc(100vw / 24);
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 40px;
$padding-sm: 4px;
$padding-md: 8px;
$padding-l: 12px;
$padding-xl: 16px;
$padding-2xl: 20px;
$padding-3xl: 24px;
$margin-sm: 4px;
$margin-md: 8px;
$margin-l: 12px;
$margin-xl: 16px;
$margin-2xl: 20px;
$margin-3xl: 20px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-l: 12px;
$border-radius-xl: 16px;
$border-radius-2xl: 20px;
$border-radius-3xl: 20px;
$border-radius-full: 50%;

$gradient: linear-gradient(to bottom,
        #3A88FD,
        #977DFF,
        #FF84F3)