@import "../../styles/variables";

.map {
    user-select: none;

    &__container {
        width: fit-content;
    }

    &__wrapper {
        position: relative;

    }

    &__img {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        height: calc(100%);
    }
}