@import "../../styles/variables";

.map {

    &__container {
        width: fit-content;
    }

    &__wrapper {
        position: relative;

    }

    &__img {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        height: calc(100% - 10px);
    }
}