@use "../../styles/variables" as variables;

.map {
    user-select: none;
    padding: variables.$padding-xl;

    &__container {
        min-width: 760px;
        width: fit-content;
    }

    &__wrapper {
        position: relative;

        &--dragging {
            & * {
                cursor: grabbing !important;
            }
        }

    }

    &__img {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        height: calc(100%);
    }
}