@import "../../styles/variables";

.map {
    user-select: none;
    padding: $padding-xl;

    &__container {
        width: fit-content;
    }

    &__wrapper {
        position: relative;

        &--dragging {
            & * {
                cursor: grabbing !important;
            }
        }

    }

    &__img {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        height: calc(100%);
    }
}