@use '../../styles/variables' as variables;

.point-list-item {
    z-index: 2;
    position: absolute;
    width: fit-content;
    height: fit-content;
    transition: opacity 0.2s ease;

    &:hover {
        z-index: 3;
    }

    &__dot-container {
        position: relative;



        & span {
            font-size: 10px;
            background-color: white;
            opacity: 0.8;
        }
    }

    &__dot {
        position: relative;
        outline: 2px solid white;
        background-color: variables.$danger;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: scale 0.3s ease;

        &:hover {
            cursor: pointer;
            scale: 1.5;
        }

        &--dragging {
            scale: 1 !important;
        }
    }

    &__tooltip {
        position: absolute;
        padding: variables.$padding-sm;
        top: 0;
        z-index: 93;
        height: fit-content;
        transform: translate(0%, -100%);

    }

    &__tooltip-content {
        width: fit-content;
        padding: variables.$padding-md;
        background: white;
        box-shadow: 0px 2px 4px 2px rgba(145, 145, 145, 0.64);
        border-radius: variables.$border-radius-sm;

        & span {

            white-space: nowrap;
            display: inline-block;
        }

    }

}