@use '../../styles/variables.scss' as variables;

.sign-in {

    @media (max-width: 720px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: variables.$padding-md;
    }

    &__logo {
        width: variables.$span-size * 16;
    }

    &__form {
        width: variables.$span-size * 8;
    }
}