@import '../styles/variables';

.layout {
    background: $gradient;
    padding: $padding-2xl;

    &__header {
        position: sticky;
        top: 0;
        left: 0;
        background: white;

    }

    &__body {
        background: white;
        border-radius: $border-radius-3xl;
        padding: $padding-2xl;
    }

    &__content {
        overflow: auto;
    }
}