@use '../styles/variables' as variables;

.layout {
    background: variables.$gradient;
    padding: variables.$padding-2xl;

    &__header {
        position: sticky;
        top: 0;
        left: 0;
        background: white;

    }

    &__body {
        background: white;
        border-radius: variables.$border-radius-3xl;
        padding: variables.$padding-2xl;
    }

    &__content {
        overflow: auto;
    }
}